body{
    background-color: hsl(233, 47%, 7%);
}

.info-container{
    width: 80vw;
    height: 20rem;
    display: flex;
    flex-direction:row nowrap ;

}
.left{
    width: 40vw;
}

#right img{
    width: 40vw;
}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }